// call out feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background: none repeat scroll 0% 0% #6ec2cd;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
  background-color: #6ec2cd;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
    h1 {
      text-align: center;
    }
  }
  .post-teaser:nth-child(2n+2) {
    background-color: #F0F0F0;
  }
  .excerpt {
    margin-top: 1em;
    text-align: center;
  }
}
// pagination
.pagination .button {
  margin-left: 1em;
}
.pagination {
  padding: 0 $padding-large;
  text-align: center;
}